/*---------------------------------------- all ----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
}
/*---------------------------------------- keyframes ----------------------------------------*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*---------------------------------------- magic ----------------------------------------*/
.app > * {
  display: none;
}

.app > *:last-child {
  display: block;
}

.app > *:target {
  display: block;
  animation: fade 300ms linear 1;
}

.app > *:target ~ * {
  display: none;
}
/*---------------------------------------- body ----------------------------------------*/
body {
  background: url(../img/bg-light-4869.png);
}
.body-center-container {
  display: flex;
  justify-content: center;
}
.container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  min-height: 1024px;
  width: 1800px;
  color: black;
  z-index: -10;
}
p {
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  font-weight: 900;
}
h2 {
  font-size: 32px;
  font-weight: 900;
}
h3 {
  font-size: 28px;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  font-weight: 600;
  text-align: start;
  padding-left: 20px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
}
h6 {
  font-size: 20;
}
.container ul {
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 10px;
}
.container ul li {
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  font-weight: 600;
}
.container a {
  font-weight: 700;
  text-decoration: none;
}
/*---------------------------------------- header ----------------------------------------*/
.header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*background: url(../img/header.jpg) no-repeat center;*/
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  transition: all 0.75s else;
}
/*---------------------------------------- menu ----------------------------------------*/
.menu input[type="checkbox"] {
  display: none;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.links li {
  position: relative;
  display: flex;
  text-align: center;
  list-style: none;
  height: 50px;
  line-height: 50px;
  width: 350px;
  margin-left: 17px;
  margin-right: 17px;
  border-radius: 10px;
  z-index: 1000;
}
.links li a,
.links li label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  min-width: 230px;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
.links li a:hover,
.links li label:hover {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
}
.links li label {
  display: none;
}
.links ul {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  visibility: hidden;
  border-radius: 10px;
}
.links li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.links ul li {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
#toggle {
  display: none;
}
#toggle > span {
  color: white;
}
/*---------------------------------------- the-default-view ----------------------------------------*/

/*---------------------------------------- start ----------------------------------------*/
#start ul li span,
#start p span {
  font-style: italic;
}
#start ul li a {
  text-decoration: none;
  color: #30679e;
  font-style: italic;
}
/*---------------------------------------- support ----------------------------------------*/
#support ul li a {
  color: #30679e;
}

/*---------------------------------------- mods ----------------------------------------*/
#mods ul li a {
  color: #30679e;
}
#modsul li a:visited {
  color: #30679e;
}
#mods ul li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: url(../img/check-mark.svg) no-repeat center;
  background-size: cover;
}
#mods h4 span {
  font-weight: 900;
}
/*---------------------------------------- plugins ----------------------------------------*/
#plugins ul li span {
  font-weight: 700;
}
/*---------------------------------------- maps ----------------------------------------*/
.cd-btn {
  display: flex;
  padding: 10px 20px;
  margin: 20px 35px;
  width: 201px;
  text-align: center;
  color: #dab433;
  border: 2px solid #dab433;
  font-size: 20px;
  font-weight: 700;
}
.cd-btn:hover {
  background-color: #dab433;
  color: #f2f2f2;
}
/*---------------------------------------- command ----------------------------------------*/
#command ul li span {
  font-weight: 800;
  font-style: italic;
}
/*---------------------------------------- resources ----------------------------------------*/
#resources .content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
#resources h4 span {
  font-style: italic;
}
.download-files {
  text-decoration: none;
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  color: #ffba00;
  transition: all 0.5s ease;
}
.download-files:hover {
  color: #ff74fa;
}
.elytra,
.totem {
  display: flex;
  flex-wrap: wrap;
}
/*--------------- accordion ---------------*/
.accordion {
  background: white;
  width: 450px;
  height: max-content;
  min-height: 320px;
  padding: 20px;
  margin-top: 50px;
  margin-right: 100px;
  border-radius: 10px;
  position: relative;
}
.accordion:after {
  content: "GMGame";
  font-size: 60px;
  font-weight: 900;
  color: white;
  position: absolute;
  height: 70px;
  top: 140px;
  left: -205px;
  transform: rotate(-90deg);
}
.accordion .title {
  font-size: 20px;
  font-weight: 600;
}
.accordion label {
  float: right;
  width: 20px;
  height: 20px;
  padding: 5px;
}
.accordion label .mark {
  height: 10px;
  width: 10px;
  border-left: 4px solid #ffba00;
  border-bottom: 4px solid #ffba00;
  transition: transform 0.75s ease;
  transform: rotate(-45deg);
}
.accordion input[type="checkbox"] {
  display: none;
  float: right;
}
.accordion input[type="checkbox"]:checked ~ .panel {
  height: 256px;
}
.accordion input[type="checkbox"]:checked ~ label .mark {
  transform: rotate(135deg);
  border-left: 4px solid #ff74fa;
  border-bottom: 4px solid #ff74fa;
}
.accordion .panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 0px;
  transition: height ease 0.75s, padding ease 0.75s;
  overflow: hidden;
  border-radius: 5px;
}
.accordion .panel img {
  width: 256px;
  height: 256px;
}
/*---------------------------------------- market ----------------------------------------*/
#market ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#market ul li img {
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
#market ul li span {
  font-weight: 700;
  margin-right: 5px;
}
/*---------------------------------------- main-container ----------------------------------------*/
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 650px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.5);
}
.card {
  position: relative;
  padding: 0;
  margin: 0px 100px;
  height: 450px;
  width: 450px;
  background: url(../img/bg-light-4869.png);
  border-radius: 8px;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  overflow: hidden;
  z-index: 999;
}

.player-header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 3px #0002;
  overflow: hidden;
}
.card img {
  width: 100%;
  transition: all 1s ease;
  z-index: 0;
}
.image {
  width: 100%;
  height: 200px;
  cursor: crosshair;
  overflow: hidden;
}

.image:hover img {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.player-header h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0 15px;
  color: white;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.icon {
  position: absolute;
  background: white;
  padding: 8px;
  right: 10px;
  top: 135px;
  width: 110px;
  height: 110px;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.6);
  z-index: 9;
}
#rest {
  padding: 40px 15px 30px 15px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
}
.linck-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-top: 80px;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact a img {
  width: 65px;
  height: 65px;
}
/*---------------------------------------- media ----------------------------------------*/
@media screen and (max-width: 900px) {
  .header {
    height: 200px;
  }
  #toggle {
    display: flex;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    max-width: 270px;
    top: 200px;
    margin-left: 0;
    overflow-y: auto;
    transition: all 0.5s ease;
    transform: translateX(-400px);
  }
  .active {
    transform: translateX(0px);
  }
  .links li {
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .links li a,
  .links li label {
    width: 100%;
    display: flex;
    padding-left: 15px;
  }
  .links li a.desktop-link {
    display: none;
  }
  .links ul {
    /*position: static;*/
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .links #show-features:checked ~ ul,
  .links #show-services:checked ~ ul {
    max-height: 100vh;
  }
  .links ul li {
    margin: 7px 20px;
  }
}
@media screen and (max-width: 640px) {
  .accordion:after {
    content: "";
  }
}
